In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
control= pd.read_csv("/Users/priyanshi/Downloads/chapter10_assets/11_z_test_AB_testing_coding/control_group.csv")

print(control.shape)
control.head()

(130, 2)

  person_id  recovery_time_hrs
0      C001                4.4
1      C002                4.1
2      C003                3.2
3      C004                4.3
4      C005                4.9

In [5]:
test = pd.read_csv("/Users/priyanshi/Downloads/chapter10_assets/11_z_test_AB_testing_coding/test_group.csv")

print(test.shape)
test.head()

(100, 2)

  person_id  recovery_time_hrs
0      T001                3.7
1      T002                4.1
2      T003                3.7
3      T004                3.9
4      T005                3.7

In [13]:
control_mean = control.recovery_time_hrs.mean().round(2)
control_std = control.recovery_time_hrs.std().round(2)
control_size = control.shape[0]
control_mean,control_std,control_size

(np.float64(4.000769230769231), np.float64(0.4795825306420972), 130)

In [14]:
test_mean = test.recovery_time_hrs.mean().round(2)
test_std = test.recovery_time_hrs.std().round(2)
test_size = test.shape[0]
test_mean,test_std,test_size

(np.float64(3.91), np.float64(0.32), 100)

In [16]:
a=control_std**2/control_size
b=test_std**2/test_size
z_score = (control_mean - test_mean)/np.sqrt(a+b)
z_score

np.float64(1.7174559340315751)

In [17]:
from scipy import stats
alpha = 0.05
z_critical = stats.norm.ppf(1-alpha) # get z score from the area probability
z_critical

np.float64(1.644853626951472)

In [18]:
z_score>z_critical

np.True_